@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

/* Unused samples for overrides example. */
.navbar-default .navbar-brand {
  color: #DDBC00;
}

footer {
  background-color: white;  
}


div.highlight pre {
	/*background-color: #272822;*/
    background-color: black;
	font-size: 14px;
	font-family: "Ubuntu Mono", Menlo,Monaco,Consolas,"Courier New",monospace
	
	
}

div.highlight-bash pre {
    color: #FFFFFF;
}

h2, .h2 {
    border-bottom: 1px solid #212121;
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h3, .h3 {
    border-bottom: 1px solid #313131;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


H4 ~ * {
    border-left: 5px solid #EEEEEE;
    margin: 0;
    padding: 5px 20px;
}

