@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

/* Unused samples for overrides example. */
.navbar-default .navbar-brand {
  color: #DDBC00;
}

footer {
  background-color: white;  
}


div.highlight pre {
	background-color: black;
	font-size: 14px;
	font-family: "Ubuntu Mono", Menlo,Monaco,Consolas,"Courier New",monospace
	
	
}

div.highlight-bash pre {
    color: #FFFFFF;
}