<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./bootstrap.php"
>

    <php>
        <!--
        <ini name="date.timezone" value="UTC"/>
        -->
        <ini name="date.timezone" value="Europe/Brussels"/>
        
        <!-- Configuration for the database 
		
        <server name="MYSQL_DRIVER" value="Mysqli" />
		-->
			<!--  <server name="MYSQL_DRIVER" value="Pdo_Mysql" /> -->
		<!--
        <server name="MYSQL_HOSTNAME" value="localhost" />
        <server name="MYSQL_USERNAME" value="user" />
		<server name="MYSQL_PASSWORD" value="pass" />
		<server name="MYSQL_DATABASE" value="mydatabase" />
        -->
		<!-- if you don't start with a /, it will be relative to unit tests  -->
		<server name="PHPUNIT_CACHE_DIR" value="./tmp/cache" />		
        
        <!-- In order to test the LIBXL flexstore writer -->
        <server name="LIBXL_LICENSE_KEY" value="" />
        <server name="LIBXL_LICENSE_NAME" value="" />
        
        <server name="PJB_HOST" value="127.0.0.1" />
        <server name="PJB_PORT" value="8083" />
        
        
    </php>

    <testsuites>
        <testsuite name="soluble/components">
            <directory>./src</directory>
        </testsuite>
        <testsuite name="soluble/japha">
          <directory>./src/Soluble/Japha</directory>
        </testsuite>
        <testsuite name="soluble/db">
          <directory>./src/Soluble/Db</directory>
        </testsuite>
        <testsuite name="soluble/normalist">
          <directory>./src/Soluble/Normalist</directory>
        </testsuite>
        <testsuite name="soluble/flexstore">
          <directory>./src/Soluble/FlexStore</directory>
        </testsuite>
        <testsuite name="soluble/spreadsheet">
          <directory>./src/Soluble/Spreadsheet</directory>
        </testsuite>
        
        
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
			<exclude>
			  <directory>./src/Soluble/Japha/Bridge/Pjb621</directory>
			</exclude>		            
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="junit" target="./build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>		
</phpunit>